:root {
	--clr-neutral-dark: #202020;
	--clr-neutral-light: #dadada;
	--clr-white: #fff;
	--clr-blue: #c5fffb;
	--clr-orange: #ffb178;
	--clr-red: #e26868;
	--border-radius: 10px;
	--ff: "VT323", monospace;
	--b-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: auto;
	height: 100%;
	background-color: var(--clr-neutral-dark);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--ff);
}

.calc-frame {
	padding: 2rem;
	background-color: var(--clr-neutral-light);
	/* height: 100px;
	width: 100px; */
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	border-radius: var(--border-radius);
}

.buttons {
	display: grid;
	gap: 1rem;
	grid-template: repeat(3, 1fr) / repeat(6, 1fr);
	grid-template-areas:
		" seven eight nine clear mul sub "
		" four five six dec divd equals"
		" one two three zero add equals ";
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	padding: 12px 20px;
	text-align: center;
	background-color: var(--clr-white);
	box-shadow: var(--b-shadow);
	cursor: pointer;
}

#button-0 {
	grid-area: 0;
}

#button-1 {
	border-radius: 0 0 0 var(--border-radius);
	grid-area: one;
}

#button-2 {
	grid-area: two;
}

#button-3 {
	grid-area: three;
}

#button-4 {
	grid-area: four;
}

#button-5 {
	grid-area: five;
}

#button-6 {
	grid-area: six;
}

#button-7 {
	grid-area: seven;
}

#button-8 {
	grid-area: eight;
}

#button-9 {
	grid-area: nine;
}

#button-sub {
	grid-area: sub;
}

#button-div {
	grid-area: divd;
}

#button-mul {
	grid-area: mul;
}

#button-add {
	grid-area: add;
}

#button-clear {
	grid-area: clear;
}

#button-equals {
	grid-area: equals;
	border-radius: 0 0 var(--border-radius) 0;
}

.blue-button {
	font-size: 2rem;
	background-color: var(--clr-blue);
}

.orange-button {
	font-size: 3rem;
	background-color: var(--clr-orange);
	color: var(--clr-white);
}

.red-button {
	font-size: 2rem;
	background-color: var(--clr-red);
	color: var(--clr-white);
}
