:root {
	--clr-neutral-dark: #202020;
	--clr-neutral-light: #b4b4b4;
	--clr-white-hover: #f0f0f0;
	--clr-white: #ebebeb;
	--clr-blue-hover: #6fcaff;
	--clr-blue: #88d3ff;
	--clr-green-hover: #a3fc79;
	--clr-green: #b0ff8b;
	--clr-red-hover: #eb7070;
	--clr-red: #e26868;
	--border-radius: 10px;
	--ff: "Oxygen Mono", monospace;
	--b-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* position: relative; */
	max-width: 100vw;
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	background-color: var(--clr-neutral-dark);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-family: var(--ff);
}

.calc-frame {
	margin-top: 3rem;
	padding: 1.5rem;
	background-color: var(--clr-neutral-light);
	/* height: 100px;
	width: 100px; */
	width: 100%;
	max-width: 360px;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	border-radius: var(--border-radius);
	box-shadow: var(--b-shadow);
}

.buttons {
	display: grid;
	gap: 1rem;
	width: 100%;
	/* max-width: 360px; */
	grid-template: repeat(4, 1fr) / repeat(5, 1fr);
	grid-template-areas:
		" seven eight nine delete clear "
		" four five six divd equals "
		" one two three mul equals "
		" dec zero add sub equals";
}

.button {
	display: flex;
	/* height: max-content;
	width: max-content; */
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	padding: 10px 15px;
	text-align: center;
	background-color: var(--clr-white);
	box-shadow: var(--b-shadow);
	user-select: none;
	line-height: 1;
}

.button:hover {
	background-color: var(--clr-white-hover);
}
.button:active {
	background-color: var(--clr-white);
	box-shadow: inset var(--b-shadow);
}

#button-decimal {
	border-radius: 0 0 0 var(--border-radius);
	grid-area: dec;
}
#button-0 {
	grid-area: zero;
}

#button-1 {
	grid-area: one;
}

#button-2 {
	grid-area: two;
}

#button-3 {
	grid-area: three;
}

#button-4 {
	grid-area: four;
}

#button-5 {
	grid-area: five;
}

#button-6 {
	grid-area: six;
}

#button-7 {
	grid-area: seven;
}

#button-8 {
	grid-area: eight;
}

#button-9 {
	grid-area: nine;
}

#button-sub {
	grid-area: sub;
}

#button-div {
	grid-area: divd;
}

#button-mul {
	grid-area: mul;
}

#button-add {
	grid-area: add;
}

#button-clear {
	font-size: 1rem;
	grid-area: delete;
}

#button-allclear {
	font-size: 1.2rem;
	grid-area: clear;
}

#button-equals {
	grid-area: equals;
	border-radius: 0 0 var(--border-radius) 0;
}

.blue-button {
	/* font-size: 2rem; */
	background-color: var(--clr-blue);
}

.blue-button:hover {
	background-color: var(--clr-blue-hover);
}

.blue-button:active {
	background-color: var(--clr-blue);
}

.orange-button {
	font-size: 2rem;
	background-color: var(--clr-green);
	/* color: var(--clr-white); */
}

.orange-button:hover {
	background-color: var(--clr-green-hover);
}

.orange-button:active {
	background-color: var(--clr-green);
}

.red-button {
	/* font-size: 2rem; */
	background-color: var(--clr-red);
	color: var(--clr-neutral-dark);
}

.red-button:hover {
	background-color: var(--clr-red-hover);
}

.red-button:active {
	background-color: var(--clr-red);
}

.display {
	background-color: var(--clr-neutral-dark);
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	box-shadow: inset var(--b-shadow);
	width: 100%;
	max-width: 100%;
	min-height: 100px;
	word-wrap: break-word;
	color: var(--clr-white);
	/* display: grid; */
	align-items: center;
	grid-template: 1fr / auto 1fr;
	gap: 0.5rem;
	padding: 1rem;
}

hr {
	align-self: stretch;
	background-color: var(--clr-white);
}

.equation {
	min-height: 25px;
	max-width: 100%;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 1rem;
	color: var(--clr-blue);
	text-align: right;
	vertical-align: text-top;
	text-transform: uppercase;
}

.current {
	max-width: 100%;
	word-wrap: break-word;
	word-break: break-all;
	text-align: right;
	font-size: 2rem;
	text-transform: uppercase;
	line-height: 48px;
}

.over-limit {
	color: var(--clr-red);
	font-size: 2rem;
}

.total {
	color: var(--clr-green);
}

footer {
	width: 100%;
	/* position: absolute; */
	/* top: 100%; */
	/* transform: translateY(-100%); */
	text-align: center;
	padding: 10px;
	background-color: var(--clr-neutral-light);
	font-size: 1.2rem;
	color: var(--clr-neutral-dark);
}

footer a {
	padding: 0.25rem;
	margin-left: -0.25rem;
	display: inline-block;
	background-color: var(--clr-red);
	color: var(--clr-neutral-dark);
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

@media (max-width: 560px) {
	.calc-frame {
		padding: 1rem;
		gap: 1rem;
	}
	.buttons {
		gap: 0.5rem;
	}
	.over-limit {
		font-size: 2.5rem;
		color: var(--clr-red);
	}
}
